.another {
  background-color: #ccc;
}

.item {
  width: 220px;
  display: inline-block;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.itemInput {
  width: 150px;
}
.butt {
  height: 50px;
}

.usersTitle {
  text-align: center;
}
