.another {
  background-color: #ccc;
}

.item {
  width: 280px;
  display: inline-block;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
